*{
    margin: 3;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.cellphone{
    width: 280px;
    height: 530px;
    padding-top: 100px;
    background-color: black;
    border-radius: 40px;
    text-align: center;
    border-color: tomato;
    border: 10px;
}

.display{
    background: rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 19px;
    border-radius: 7px;
    height: 50px;
    color: white;
    text-align: end;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-right: 36px;
    margin-bottom: 20px;
    font-size: 44px;
}

.cont-buttons{
    margin-left: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
   
}

.cont-buttons-ult-row{
    padding-right: 12px;
    padding-left: 0px;
}

.buttons{
    font-size: 25px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    background-color: #333232;
    border: none;
    color: white;
}

.buttonAC{
    padding-top: 13px;
    padding-right: 1px;
    background-color: #949393;
    font-size: 18px;
    color: black;
}

.buttonMasOMenos{
    padding-top: 7px;
    padding-left: 1px;
    background-color: #949393;
    font-size: 17px;
    color: black;
}

.buttonPorcen{
    padding-top: 11px;
    padding-left: 1px;
    background-color: #949393;
    font-size: 22px;
    color: black;
}

.buttonDivi{
    padding-top: 11px;
    padding-left: 1px;
    background-color: #ff9900;
    font-size: 22px;
}

.buttonX{
    text-align: center;
    justify-content: center;
    font-size: 25px;
    background-color: #ff9900;
}

.buttonMenos{
    background-color: #ff9900;
}

.buttonMas{
    background-color: #ff9900;
}

.buttonIgual{
    background-color: #ff9900;
}

.buttonCero{
    width: 112px;
    height: 48px;
    font-size: 25px;
    justify-content: center;
    background-color: #333232;
    border: none;
    color: white;
    border-radius: 30px;
    text-align: start;
    padding-top: 10px;
    padding-left: 20px;
}

.linea{
    background-color: rgb(240, 239, 239);
    margin-top: 54px;
    margin-left: 91px;
    border-radius: 10px;
    width: 93px;
    height: 3.4px;
}

